.container{
    background-color:black;
    margin-top:90px ;
    padding:0px 20px 10px 10px;
    width:290px;
    border-radius: 5px;
    /* padding:-60px */
}

.col{
    margin:2px; 
    margin-top:4px; 
    /* border-style: solid; */
    /* color:white */
}
.heading{
    color:yellow;
    font-family:'Courier New', Courier, monospace;
}
.btn{
    display: block;
    width: 120%;
    /* padding:0px 20px 0px 20px */
}
.form-control{
    width:270px;
}
/* .AC{
    width:200%
}
.equal{
    width:120%
} */

.left{
    width:130%
}